/* HEX Color List:
	off white (linen) = #FFFCF7 (Complementary = #F7FAFF)
	light green (grass) = #D5E7E7 (Complementary = #DEDEDE)
	darker green (grass) = #91C7C9 (Complementary = #C99391)
	light blue (sky) = #C5E1EF (Complementary = #EFD3C5)
	dark blue (font colour) = #2F5597 (Complementary = #97712F)
	yellow (lemon) = #F5D44C (Complementary = #4C6DF5)
*/

body {
	background-color:#91C7C9;
}

#wrapper {
	width:800px;
	height: 800px;
	margin: auto;
	background-color:white;
}

#header {
	position: fixed;
	width:800px;
	height:50px;
	margin: auto;
	background-color:yellow;
	font: Helvetica;
	color: #2F5597;
	font-weight: bold;
}

#crest1 {
  width: 50px;
	height: 60px;
	position: fixed;
  top: 0px;

}

#crest2 {
  width: 50px;
	height: 60px;
	position: fixed;
  top: 0px;
}

h1 {
	text-align: center;
}

#topnav {
	float: left;
	width:790px;
	height: 50px;
	background-color: #C5E1EF;
	text-align: left;
	color: #2F5597;
	font-size: 14px;
	font-weight: bold;
	margin-top:60px;
	padding:20px;
}

li {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C5E1EF;
    position: fixed;
    top: 0;
    width: 800px;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #C5E1EF
		color: #2F5597;
;
}

.active {
    background-color: #2F5597;
		color: #FFFCF7;
}

#content {
	float: left;
	width:795px;
	margin:auto;
	position: relative;
	background-color: #FFFCF7;
	text-align: left;
	font-weight: bold;
	color: navy;
	font-size: 14px;
}

#categories {
	float: left;
	width:795px;
	height: 200px;
	margin:auto;
	position: relative;
	background-color: #FFFCF7;
	text-align: left;
	font-weight: bold;
	color: navy;
	font-size: 14px;
}
#household {
	float: left;
	width:250px;
	height: 190px;
	margin:auto;
	margin-top: 6px;
	margin-right: 6px;
	margin-bottom: 6px;
	margin-left: 12px;
	position: relative;
	background-color: #FFFCF7;
	text-align: left;
	font-weight: bold;
	color: navy;
	font-size: 14px;
}
#makeup {
	float: left;
	width:250px;
	height: 190px;
	margin:auto;
	margin-top: 6px;
	margin-right: 6px;
	margin-bottom: 6px;
	margin-left: 6px;
	position: relative;
	background-color: #FFFCF7;
	text-align: left;
	font-weight: bold;
	color: navy;
	font-size: 14px;
}
#garden {
	float: left;
	width:250px;
	height: 190px;
	margin:auto;
	margin-top: 6px;
	margin-right: 6px;
	margin-bottom: 6px;
	margin-left: 6px;
	position: relative;
	background-color: #FFFCF7;
	text-align: left;
	font-weight: bold;
	color: black;
	font-size: 14px;
}

#footer {
	float: left;
	width:790px;
	height:50px;
	margin:auto;
	position: relative;
	background-color:#C5E1EF;
	text-align:center;
	color: #2F5597;
	font-size: 14px;
	font-weight: bold;
	padding:5px;
}
